---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Hello! I'm Kyle."
  pubDate={new Date("October 21 2025")}
  updatedDate={new Date("October 24 2025")}
  heroImage={AboutHeroImage}
>
  <p>
    Hi there! I'm Kyle. I'm a 16 year old programmer (and student) from New
    Zealand. I am also a member of <a
      href="https://hackclub.com"
      target="_blank">Hack Club</a
    >!
  </p>

  <p>
    I enjoy coding (in Python, Java, and C++), homelabbing (blog post coming
    soon!), and hanging out on the <a
      href="https://hackclub.com"
      target="_blank">Hack Club</a
    > Slack!
  </p>

  <p>
    I created this blog after finding <a
      href="https://blog.slitrostudio.me"
      target="_blank">Josh's blog</a
    > in early October, and on the 21st of October I rewrote the blog from scratch
    instead of using the template I used before.
  </p>
</Layout>
